/* Задаем цвет фона и внутренний отступ*/
body {
    background-color: #cecece;
    padding: 32px;
}

/* Задаем базовое оформление кнопок */
button {
    display: block;
    margin: 25px 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid lime;
    padding: 15px 35px;
}

/* При наведении курсора на кнопку курсор меняет вид на pointer и граница кнопки, созданная с помощью outline
выводится внутри элемента (за счет отрицательного значения) */
button:hover {
    outline: 1px solid white;
    outline-offset: -2px;
    cursor: pointer;
}

/* Задаем цвет фона кнопки с помощью линейного градиента из двух цветов*/
.button1 {
    background-image: linear-gradient(#76B9CC, #97cc76);
}

/* Задаем цвет фона кнопки с помощью линейного градиента из трех цветов*/
.button2 {
    background-image: linear-gradient(#76B9CC, #CC208A,
            #97cc76);
}

/* Задаем цвет фона кнопки с помощью линейного градиента из четырех цветов*/
.button3 {
    background-image: linear-gradient(#76B9CC, #CC208A,
            #97cc76, #B34EE9);
}

/* Задаем цвет фона кнопки с помощью линейного градиента из четырех цветов, задавая точки перехода цветов в %*/
.button4 {
    background-image: linear-gradient(blue 5%, lime 30%,
            #97cc76 80%, #B34EE9 90%);
}

/* Задаем цвет фона кнопки с помощью линейного градиента из четырех цветов, задавая точки перехода цветов в px*/
.button5 {
    background-image: linear-gradient(blue 5px, lime 15px,
            white 30px, black 50px);
}

/* Задаем цвет фона кнопки с помощью линейного градиента и задания угла вектора градиента*/
.button6 {
    background-image: linear-gradient(25deg, blue, lime);
}

/* Задаем цвет фона кнопки с помощью радиального градиента, с указанием точки перехода цветов в %*/
.button7 {
    background-image: radial-gradient(red 0%, yellow 50%);
}

/* Задаем цвет фона кнопки с помощью радиального градиента, с указанием точки центра красного цвета
в верхнем правом углу*/
.button8 {
    background-image: radial-gradient(at top right, red,
            yellow);
}

/* Задаем цвет фона кнопки с помощью радиального градиента, градиент расходится до дальней стороны,
задан центр красного цвета и точка перехода в синий в момент достижения дальней стороны*/
.button9 {
    background-image: radial-gradient(farthest-corner at 25% 50%,
            #f35 0%, #43e 100%);
}

/* Задаем цвет фона кнопки с помощью радиального градиента, указан размер градиента внутреннего цвета и цего позиционирования 
на элементе, указано, что при достижении цени (размера градиента) точка преехода в другой цвет*/
.button10 {
    background-image: radial-gradient(15px 15px at 85% 25%,
            #f35 0%, #43e 100%);
}