* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 200px;
    height: 150px;
    outline: 1px solid #000;
    display: inline-block;
    margin: 35px 50px;
}

/* Задаем вид div, вложенному в обертку, к которой будем применять анимацию */
.wrap>div {
    width: 200px;
    height: 150px;
    background: rgba(144, 235, 242, 0.5);
    display: inline-block;
    position: relative;
    z-index: 2;
    transition: transform 1s;
}

/* Выравниваем текст в строчном элементе, устанавливаем его положение на странице*/
.wrap>div>span {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

/* Задаем виды трансформации и ее атрибуты для элеменов с конкретными классами */
/* Сдвиг по оси Х */
.translateX:hover {
    transform: translateX(50px);
}
/* Сбвиг по оси Y */
.translateY:hover {
    transform: translateY(50px);
}
/* Сдвиг с возможностью задать обе оси */
.translate:hover {
    transform: translate(50px, 50px);
}
/* Масштаб по горизонтали с обратным значением*/
.scaleX:hover {
    transform: scaleX(-1);
}
/* Масштаб по вертикали с обратным значением*/
.scaleY:hover {
    transform: scaleY(-1);
}
/* Масштаб по горизонтали в полтора раза */
.scaleX15:hover {
    transform: scaleX(1.5);
}
/* Масштаб по обеим осям */
.scale:hover {
    transform: scale(1.5, 0.5);
}
/* Поворот */
.rotate:hover {
    transform: rotate(360deg);
}
/* Наклон по оси Х */
.skewX:hover {
    transform: skewX(45deg);
}
/* Наклон по оси Y */
.skewY:hover {
    transform: skewY(-45deg);
}
/* Наклон по обеим осям */
.skew:hover {
    transform: skew(-20deg, 20deg);
}
/* Матрица преобразований: масштаб, наклон, наклон, перемещение */
.matrix:hover {
    transform: matrix(1.5, 0, 0.5, 1.2, 50, 0);
}