body {
    background-color: #cecece;
    padding: 0;
}

/* Задаем размер элемента, положение на странице, отступ слева, действие и время перехода при расфокусе элемента*/
div {
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
    transition: left 1s;
}

.container {
    width: 100%;
    height: 100%;
}

/* При наведении курсора отступ слева */
.container:hover div {
    left: 500px;
}

/*Установка цвета элементов.
Установка скорости изменения значения стилевого свойства, для которого указан переход (отступ).
Установка времени задержки до начала выполнения перехода*/
.ease {
    background-color: blue;
    transition-timing-function: ease;
}

.linear {
    background-color: lime;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.ease-in {
    background-color: mediumseagreen;
    transition-timing-function: ease-in;
    transition-delay: 2s;
}

.ease-out {
    background-color: orangered;
    transition-timing-function: ease-out;
    transition-delay: 3s;
}

.ease-in-out {
    background-color: darkviolet;
    transition-timing-function: ease-in-out;
    transition-delay: 4s;
}

/* Ход анимации задается с помощью указания двух точек (x1,y1 и x2,y2) */
.cubic-bezier {
    background-color: darkviolet;
    transition-timing-function: cubicbezier(1, 100, 50, 100);
    transition-delay: 5s;
}